@import '~bootstrap/scss/bootstrap';

.my-nav-bg {
    background-color: #4a5d5e;
}

.my-bg {
    background-color: #d2dbc8;
}

.my-light-bg {
    background-color: #f8f9fa;
}

.my-btn {
    background-color: #4a5d5e;
}

.my-btn:hover {
    background-color: #4a5d5e;
}